* {
    margin:0%;
    padding:0%;
    box-sizing: border-box;
}

.btn {
    margin-bottom: 56px;
}

body {
    padding: 80px;
}

#botao-preco {
    margin-top:50px;
}

#preco p {
    width: 300px;
}
